*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw; height: 100vh;
  background-color: #000;
}
.App {
  text-align: center;
  list-style: none;
  color: #ccc;
}
nav{
  display: flex;
  padding: 30px;
  margin: auto;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #aaa;
  box-sizing: border-box
}
.navList{
  margin: 0px 10px;
  padding: 10px 20px;
  width: 50%;
  display: flex;
}
.navList>li{
  width: 50%;
}
.search{
  padding: 10px 30px 10px 0px;
}
.langBoxList{
  display: flex;
  margin-left: 10px;
}
.langBoxList>li{
  margin: 0px 3px;
  color: #666;
}
.langBoxList>li:not(.langBoxList>li:nth-child(2)){
  cursor: pointer;
}
.langBoxList>.listClick{
  border-bottom: 3px solid #fff;
  font-weight: 700; color: #fff;
}
.coinList{
  width: 90%;
  font-size: 1em;
  margin: auto;
  margin-top: 30px;
}
.coinList>li{
  padding: 10px;
  border-bottom: 1px solid #aaa;
  text-align: right;
}
.coinList>li:not(.coinList>li:first-child):hover{
  background-color: #666;
  transition: 0.5s;
}
.coinListNav{
  display: flex;
  width: 100%;
  background-color: #000;
  text-align: right;
}
.coinListNav>li{
  width: 25%;
}
.coinListBox{
  cursor: pointer;
}
.coins{
  display: flex;
  justify-content: center;
  align-items: center;
}
.coins>li{
  width: 16.6%;
}
.coins>li>img{
  width: 100px;
}
.coins>li:first-child{
  text-align: left;
}
.font_red{
  color: red;
}
.font_blue{
  color: blue;
}
.modalBox{
  width: 100%;
  height: 50%;
  margin-top: 30px;
}
.modalContent{
  width: 80vw;
  height: 70vh;
  position: fixed;
  margin: 0 auto;
  left:0;
  top: 20%;
  right:0;
  background-color: #000; 
}
.modalCloseBtn{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  color: #000;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.modalId{
  border-bottom: 1px solid #fff;
  padding: 20px;
}
.modalContentBox{
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}
.modalImage{
  width: 10%;
}
.modalPriceNav{
  display: flex;
  font-size: 30px;
  align-items: center;
  width: 100%;
  height: 20%;
}
.modalPriceNav>li{
  width: 20%;
  border-bottom: 1px solid #fff;
}
.modalPriceHistory{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.modalPriceHistory>li{
  width: 20%;
}
.modalPricese{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0px;
  text-align: left;
  width: 100%;
  height: 40%;
}
.modalPricese>li{
  width: 49%;
  border-bottom: 2px solid #000;
  padding: 30px;
  margin-left: 1%;
  margin-bottom: 1%;
  box-sizing: border-box;
  font-size: 20px;
}
.modalPricese>li>p{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.bg-black{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
}
.selectLang{
  padding: 5px 20px;
  margin-left: auto;
}
.modalCurrentPrice{
  font-size: 30px;
  margin-left: auto;
}
.modalName{
  font-size: 24px;
  margin-left: 20px;
}
.loadingText{
  font-size: 30px;
}